<h1>Here are the menus available!</h1>
{{#each menuItems}}
<article>
<article>
    <h2>{{name}}</h2>
    <p>{{image}}</p>
    <p>{{price}}</p>
    <p>{{vegetarian}}</p>
    <p>{{MenuId}}</p>
</article>
</article>
{{/each}}